 *{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
/* .background{
  z-index: -1;
  opacity: 0.1;
} */
body{
    height:500vh;
    background-color: #000;
}
.body{
  width: 100%;
  height: 575vh;
  background-color:white;
  margin: auto;
  /* border: 3px solid rgb(47, 18, 212);  */
}
.wilfred{
    width: 100%;
    height: 135vh;
    /* border: 2px solid greenyellow; */
    background-image: url(./image/app.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


img{
    width: 100%;
}

* {box-sizing:border-box}

Slideshow container
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  /* border: 2px solid green; */
  width: 100%;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 120px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  margin-right: 20px;
  border-radius: 4px;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.prev:hover, .next:hover {
  background-color:#bbb;
  color: black;
  font-family: "Poppins", sans-serif;
}


.text1 {
  color: #fff;
  font-size: 25px;
 margin-left: 20px;
 height: 27vh;
  position: absolute;
  bottom: 8px;
  font-family: "Poppins", sans-serif;
 margin-bottom: 120px;
 background-color: #000;
  text-align: center;
  width:32%;
  border: 1px solid rgb(10, 10, 10);
  opacity: 0.8;
  border-radius: 10px;
}
.text1:hover{
    background-color:black;
    opacity: 1;
}
button{
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    background-color: rgb(101, 150, 51);
    color: white;
    border: 1px solid rgb(101, 150, 51);
    margin-top: 15px;

}
button:hover{
    background-color: #bbb;
    color: black;
}
.icon:hover{
    color:black;
}

h3{
    font-family: "Poppins", sans-serif;
    padding: 10px;
    font-size: 25px;
    font-weight: 200;
}
h6{
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 10px;
}
hr{
    border: 1px solid grey;
    width: 90%;
    margin-left: 15px;
    opacity: 0.5;
}
.text2{
    color: #f2f2f2;
    font-size: 25px;
   margin-left: 20px;
   height: 30vh;
    position: absolute;
    bottom: 8px;
    font-family: "Poppins", sans-serif;
   margin-bottom: 105px;
   background-color: rgb(20, 20, 20);
    text-align: center;
    width:32%;
    border: 1px solid rgb(10, 10, 10);
    opacity: 0.8;
    border-radius: 10px;
    /* border: 1px solid red; */
  }
  .text2:hover{
    background-color:black;
    opacity: 1;
}
  .button{
    background-color: rgb(207, 75, 75);
    /* border: 1px solid rgb(202, 83, 83); */
  }
  .text3 {
    color: #f2f2f2;
  font-size: 25px;
 margin-left: 20px;
 height: 30vh;
  position: absolute;
  bottom: 8px;
  font-family: "Poppins", sans-serif;
 margin-bottom: 105px;
 background-color: rgb(20, 20, 20);
  text-align: center;
  width:32%;
  border: 1px solid rgb(10, 10, 10);
  opacity: 0.8;
  border-radius: 10px;
    /* border: 1px solid red; */
  }
  .text3:hover{
    background-color:black;
    opacity: 1;
}
.switch{
    background-color: rgb(43, 43, 211);
    /* border: 1px solidrgb(43, 43, 211); */
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */ */

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.appcontent {
  /* border: 1px solid blue; */
  height: 630px;
  font-family: "Poppins", sans-serif;
  /* padding: 64px 8px 64px 8px;  */
}

.b1{
  font-size: 72px;
  padding-left: 15px;
  /* font-weight: 700; */
  margin-top: 64px;
  margin-bottom: -90px;
}

.b2{
  position: absolute;
  color: #4CAF50;
  font-size: 54px;
  margin-top: 105px;
  margin-left: 15px;

}

.p1{
  position: absolute;
  margin-top: 200px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding-left: 15px;

}

.tablet{
  position: absolute;
  height: 525px;
  width: 370px;
  margin-left: 1279px;
  margin-top: -24px;
}

.span1{
  font-size: 27px !important;
}
 
.btn{
  position: absolute;
  font-family: "Poppins", sans-serif;
  border-radius: 0px;
  width: 270px;
  height: 54px;
  font-size: 18px !important;
  color: #000;
  background-color: #f1f1f1;
  border: #f1f1f1;
  margin-top: 350px;
  margin-left: 15px;
  font-weight: 400;
}

.p2{
  position: absolute;
  margin-top: 430px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding-left: 15px;
}

.one{
  color: #4CAF50;
}

.three{
  color: #2196F3;
}

.one, .two, .three{
  font-size: 25px !important;
}
 
.four{
 font-size: 18px !important;
}

.description{
  /* border: 1px solid red; */
  height: 660px;
  font-family: "Poppins", sans-serif;
  color: #000;
  background-color: #f1f1f1;
}

.phone{
  border-radius: 8px;
  filter: grayscale(75%);
  width: 373px;
  height: 530px;
  margin: 64px 0 64px 18px;
}

.b3{
  position: absolute;
  font-size: 72px;
  margin-top: -583px;
  padding-left: 565px;
  font-weight: 400;
}

.b4{
  position: absolute;
  font-size: 54px;
  color: #f44336;
  padding-left: 565px;
  margin-top: -467px;
}

.p3{
  position: absolute;
  font-size: 18px !important;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-left: 565px;
  margin-top: -370px;
}

.span2{
  font-size: 27px;
}
.feature{
  background-color:#717171 ;
  border: 2px solid #717171 ; 
  height: 130vh;
  margin: 0px;
  width: 100%;
  /* margin-bottom:200px; */

}
.feature-column{
  /* border: 2px solid rgb(17, 9, 3); */
  height: 89vh;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction:row;
  color: white;
  font-size:16px;
  font-family: "Poppins", sans-serif;
}
.column1{
  text-align: center;
  width: 25%;
  height:100%;
  /* border:  2px solid salmon; */
  display: flex;
  flex-direction: column;

}

.column2{
  /* border:1px solid #2196F3; */
  text-align: center;
  width: 25%;
  height:100%;
  display: flex;
  flex-direction: column;
}

.column3{
  /* border:1px solid #21f333; */
  text-align: center;
  width: 25%;
  height:100%;
  display: flex;
  flex-direction: column;
}
.column4{
  /* border:1px solid #3553ff; */
  text-align: center;
  width: 25%;
  height:100%;
  display: flex;
  flex-direction: column;
}


.word{
  /* border:1px solid #2196F3; */
  height:15%;
  width:30%;
  margin: 5% auto;
  color: white;
}
.word-heading{
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  padding-left: 70px;
  font-weight:bolder;
}
.word-sub{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-top:20px;
  padding-left: 70px;
}
.bolt {
/* border: 1px solid green; */
height: 100%;
padding: 20px;
}

.pricing{
  
  /* border: 1px solid red; */
  width: 100%;
  height: 125vh;

}
.price-heading{
  width: 30%;
  margin:60px auto;
  height: 25vh;
  /* border: 1px solid pink; */
  text-align: center;
  font-family: "Poppins", sans-serif;
  
}
.price-heading h1{
  font-size: 64px;
}
.price-heading p{
  font-size: 16px;
  padding: 25px 0;
}
.list-table{
  width: 100%;
  /* border: 1px solid skyblue; */
  height: 82.5vh;
  display: flex;
  flex-direction: row;
}
.list{
  /* border:1px solid yellowgreen; */
  height: 100%;
  width: 50%;
}
ul{
  width: 98%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 100%;
  text-align: center;
  list-style-type:none;
  margin-left: 8px;
  font-family: "Poppins", sans-serif;

}
ul:hover{
  box-shadow:3px 3px 20px;
opacity: 1;
}
li{
  border-bottom: 1px solid #ccc;
  height:9vh;
  padding: 15px 0;
}
.basic{
  background-color:#616161;
  height: 15vh;
  padding: 20px 0;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
 
}
.dolar{
  height: 15vh;
  padding: 20px 0;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #7a7979;

}
.end{
  background-color:#f1f1f1;
  height: 15vh;
  padding: 20px 0;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.download{
  width: 25%;
  height: 7vh;
  border-radius: 0;
  background-color: #000;
  transition: 2s;
}
.download:hover{
background: rgb(247, 31, 3);
/* border: #717171 ; */
width: 50%;
}
.Premium{
  background-color: #f44336;
  height: 15vh;
  padding: 20px 0;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
}

.footer{
  margin-top: 110px;
  /* border: 1px solid peru;  */
  height: 200px;
  width: 100%;
  color: #000;
  background-color: #f1f1f1;
}

.fp1{
  padding-top: 60px;
  padding-left: 744px;
  font-size: 27px;
}

.fp2{
  padding-top: 15px;
  padding-right: 28px ;
  text-align: center; 
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

a{
  color: #000;
}
a:hover{
  color: #4CAF50 ;
}